+<div style="text-align: center;">
    <h2 ><b>MR Scheduler</b></h2>
    <div class="row" style="padding-left: 50px; padding-right: 50px;" >
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <div class="card">
        <img src="../../../assets/images/mrschedule.jpg" alt="Avatar" style="width:100%">
   
      </div>
</div>
<div class="col-sm-2" ></div>
    <div class="card" style="width: 40%; background-color: lightblue;">
<form style="width: 100%; ">
    <label >
      Choose your preferred appointment date (required):
      <input type="date" name="mrschedule" min="2021-06-29" max="2021-07-10" required>
      <span class="validity"></span>
    </label>
    <label for="appt">Choose a time for your meeting:</label>

<input type="time" id="appt" name="appt"
       min="12:00" max="15:00" required>

<small>Meeting hours are 12pm to 3pm</small>
  
    <p style="margin-top: 25px; ">
      <button  onclick="" style="background-color: green;">Submit</button>
    </p>
</form>
    </div>
    <div class="col-sm-2"></div>
    </div>
</div>
  
