<div style="text-align: center;  ">      
    <div class="container">
        <br>
        <h2> About Us</h2>
        <p style="margin-top: 30px; margin-left: 50px; margin-right: 50px;"> For over 32 years, Pharmacy has been providing you with genuine medicines round-the-clock, through 24-hour pharmacies. And now through  Pharmacy, we intend to make your lives easier – by getting your medicines delivered to you. Yes, no more stepping out to get your medicines, no more standing in long queues, no more worrying about the genuineness of medicines, no more sweat! Here are more reasons why you should buy your medicines from Pharmacy:

            Super-fast deliveries. In select cities, deliveries are done in as less as 1 day
            Largest pharmacy chain in India with over 3,500 stores
            Attractive deals on medicines and other FMCG products
            Get Health Credits on purchases (not applicable on discounted products)
            Prescriptions can be uploaded directly to place an order
            Option to consult with a pharmacologist to check medicine interactions
            Wide range of healthcare products to choose from
            Only genuine and top-quality products delivered.
            </p>
            <br>
                <h2>Our Team</h2>
                <br>
            <div class="row">
              <div class="col-sm">
                <img src="../../assets/images/placeholder.jpg">
                <br><br>
                <h4>Mohd Kashaf Siddiqui</h4>    
            </div>
              <div class="col-sm">
                <img src="../../assets/images/placeholder.jpg">
                <br><br>
                <h4>Harsh Kumar</h4>
              </div>
              <div class="col-sm">
                <img src="../../assets/images/placeholder.jpg">
                <br><br>
                <h4>Prince Kumar</h4>
              </div>
              <div class="col-sm">
                <img src="../../assets/images/placeholder.jpg">
                <br><br>
                <h4>Aman</h4>
              </div>
            </div>
        </div>
        </div>
