<div class="container">
    <h2>Medicines Stocks</h2>          
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name of Medicines</th>
          <th>Medicines Scientific Name</th>
          <th>Pharmacy Name</th>
          <th>Availability</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks">
          <td>{{stock.id}}</td>
          <td>{{stock.name}}</td>
          <td>{{stock.pharmacyName}}</td>
          <td>{{stock.numberOfTabletsInStock}}</td>
        </tr>
      </tbody>
    </table>
  </div>